@model IEnumerable<MoviedbMVC5.Models.Movie>

@{
    ViewBag.Title = "IndexKO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Movies using Knockout</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: movies">
        <tr>
            <td data-bind="text: Title"></td>
            <td data-bind="text: ReleaseDate"></td>
            <td data-bind="text: Genre"></td>
            <td>
                <a data-bind="attr: { href: '@Url.Action("Details")/' + Id }" class="btn btn-info">Details</a>
                <a data-bind="attr: { href: '@Url.Action("Edit")/' + Id }" class="btn btn-primary">Edit</a>
                <a data-bind="attr: { href: '@Url.Action("Delete")/' + Id }" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts{        
        <script>

            function ViewModel(movies) {

                var self = this;

                @*View foreach is databound to this property.*@
                self.movies = movies;
            };

            var viewModel = new ViewModel(@Html.HtmlHelperExtensions.HtmlConvertToJson(model));
            ko.applyBindings(viewModel);

        </script>   
    }




